$main-padding: 1rem;

html, body, main { overflow-x: hidden; }

main {
    overflow-y: scroll;
    padding: $main-padding 0 $main-padding $main-padding;
    height: calc(100% - var(--title-bar-height) - 2 * #{$main-padding});
}

h1 { margin-top: 0; }
h1, h2, h3, h4, h5, h6 { color: var(--nguh-org-accent-colour); }

pre {
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    background-color: var(--title-bar-colour);
}